* {
    margin: 0px;
    padding: 0px;
}

.main-container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5.3fr;
    
}

/* Begin sidebar */

.sidebar{
    background-color: grey;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    grid-row: 1 / 3;
    display:grid;
    grid-template-rows: repeat(11, 1fr) 2fr;
    grid-template-columns: 1fr 4fr 40px;
    align-items: center;
    column-gap: 5px;
}


.sidebar >*{
    color: white;
    grid-column: 2;
}

.sidebar > img {
    grid-column: 1;
}

.sidebar > *:not(.dashboard) {
    font-size: 1.25rem;
}


.dashboard{
    font-size: 2rem;
}

.settings{
    grid-row: 9;
}

.support{
    grid-row: 10;
}

.privacy{
    grid-row: 11;
}

/* End sidebar */

/* Begin header */

.header{
    background-color: aqua;
    display:grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: 1fr 1fr;
}

.search-container{
    background-color: brown;
}

.profile{
    border: 2px solid black;
}

.small-profile-pic{
    background-color: blueviolet;
}

.small-profile-pic img{
    height: 48px;
    width: 48px;
    border: 2px solid black;
    border-radius: 90%;
    background: white;
}

.profile-name-small{
    background-color: chartreuse;
}

.buttons{
    background-color: chocolate;
}

.greeting-container{
    border: 2px solid black;
}

.large-profile-pic{
    height: 80px;
    width: 80px;
    border: 2px solid black;
    border-radius: 90%;
    background: white;
}

.greeting{
    background-color: burlywood;
}

.profile-name-large{
    background-color: cadetblue;
}

/* End header */

.main-content{
    background-color: darkgoldenrod;
}

