* {
    margin: 0px;
    padding: 0px;
}

.main-container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5.3fr;
    
}

/* Begin sidebar */

.sidebar{
    background-color: grey;
    padding-top: 50px;
    padding-left: 40px;
    grid-row: 1 / 3;
    display:grid;
    grid-template-rows: repeat(11, 1fr) 2fr;
    grid-template-columns: 1fr 4fr 40px;
    align-items: center;
    column-gap: 5px;
}


.sidebar >*{
    color: white;
    grid-column: 2;
}

.sidebar > img {
    grid-column: 1;
}

.sidebar > *:not(.dashboard) {
    font-size: 1.25rem;
}


.dashboard{
    font-size: 2rem;
}

.home{
}

.profile::before{
}

.messages::before{

}

.history::before{

}

.tasks::before{

}

.communities::before{

}

.settings{
    grid-row: 9;
}

.support{
    grid-row: 10;
}

.privacy{
    grid-row: 11;
}



/* End sidebar */



.header{
    background-color: aqua;
}

.main-content{
    background-color: darkgoldenrod;
}